body {
    background-color: #3D3D3D;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0
}

ul {
    list-style: none;
    padding-left: 0;
}