body {
    background-color: $neutral-900;
    color: $neutral-950;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0
}

ul {
    list-style: none;
    padding-left: 0;
}

button,
input,
a {
    -webkit-appearance: none;
    /* 移除預設樣式 */
    -webkit-tap-highlight-color: transparent;
    /* 移除點擊藍色 */
}

button:focus,
button:active {
    outline: none;
    box-shadow: none;
}