$utilities: (
  "display-1": (
    property: font-size,
    class: display-1,
    values: (
      null: 2.5rem
    )
  ), // ← 這裡加逗號
  "display-2": (
    property: font-size,
    class: display-2,
    values: (
      null: 2rem
    )
  ), // ← 這裡加逗號
  "header-1": (
    property: font-size,
    class: header-1,
    values: (
      null: 1.5rem
    )
  ), // ← 這裡加逗號
  "header-2": (
    property: font-size,
    class: header-2,
    values: (
      null: 1.25rem
    )
  ), // ← 這裡加逗號
  "header-3": (
    property: font-size,
    class: header-3,
    values: (
      null: 1rem
    )
  ), // ← 這裡加逗號
  "header-4": (
    property: font-size,
    class: header-4,
    values: (
      null: 0.875rem
    )
  ), // ← 這裡加逗號
  "subheader-1": (
    property: font-size,
    class: subheader-1,
    values: (
      null: 1rem
    )
  ), // ← 這裡加逗號
  "subheader-2": (
    property: font-size,
    class: subheader-2,
    values: (
      null: 0.875rem
    )
  ), // ← 這裡加逗號
  "body-1": (
    property: font-size,
    class: body-1,
    values: (
      null: 1rem
    )
  ), // ← 這裡加逗號
  "body-2": (
    property: font-size,
    class: body-2,
    values: (
      null: 0.875rem
    )
  ), // ← 這裡加逗號
  "body-3": (
    property: font-size,
    class: body-3,
    values: (
      null: 0.75rem
    )
  ), // ← 這裡加逗號
  "caption": (
    property: font-size,
    class: caption,
    values: (
      null: 0.75rem
    )
  )
);


// 額外新增自訂圓角
$border-radius-m: .75rem;
$border-radius-ml: 1rem;
$border-radius-l: 1.25rem;
$border-radius-rounded: 6.25rem;

// 擴充 class
.rounded-m  { border-radius: $border-radius-m !important; }
.rounded-ml { border-radius: $border-radius-ml !important; }
.rounded-l  { border-radius: $border-radius-l !important; }
.rounded-rd { border-radius: $border-radius-rounded !important; }
