$utilities: (
  // "display-1": (
  //   property: (
  //   font-size,
  //   ),
  //   class: display-1,
  //   values: (
  //     null: 
  //       2.5rem  // font-size: 40px
  //  )
  // ), // ← 這裡加逗號
  // "display-2": (
  //   property: (
  //   font-size,
  //   ),
  //   class: display-2,
  //   values: (
  //     null: 2rem //32px
  //   )
  // ), // ← 這裡加逗號
  // "header-1": (
  //   property: font-size,
  //   class: header-1,
  //   values: (
  //     null: 1.5rem //24px
  //   )
  // ), // ← 這裡加逗號
  // "header-2": (
  //   property: font-size,
  //   class: header-2,
  //   values: (
  //     null: 1.25rem //20px
  //   )
  // ), // ← 這裡加逗號
  // "header-3": (
  //   property: font-size,
  //   class: header-3,
  //   values: (
  //     null: 1rem  //16px
  //   )
  // ), // ← 這裡加逗號
  // "header-4": (
  //   property: font-size,
  //   class: header-4,
  //   values: (
  //     null: 0.875rem //14px
  //   )
  // ), // ← 這裡加逗號
  //   "header-5": (
  //   property: font-size,
  //   class: header-5,
  //   values: (
  //     null: 0.875rem //14px
  //   )
  // ), // ← 這裡加逗號
  "subheader-1": (property: font-size,
    class: subheader-1,
    values: (null: 1.25rem //20px
    ),
    font-weight: 500,
    line-height: 1.2),
  // ← 這裡加逗號
  "subheader-2": (property: font-size,
    class: subheader-2,
    values: (null: 1.125rem //18px
    ),
    font-weight: 500,
    line-height: 1.2),
  // ← 這裡加逗號
  "subheader-3": (property: font-size,
    class: subheader-3,
    values: (null: 1rem //16px
    ),
    font-weight: 500,
    line-height: 1.2),
  // ← 這裡加逗號
  "subheader-4": (property: font-size,
    class: subheader-4,
    values: (null: 0.875rem //14px
    ),
    font-weight: 500,
    line-height: 1.2),
  // ← 這裡加逗號
  "body-1": (property: font-size,
    class: body-1,
    values: (null: 1rem //16px
    ),
    font-weight: 400,
    line-height: 1.5),
  // ← 這裡加逗號
  "body-2": (property: font-size,
    class: body-2,
    values: (null: 0.875rem //14px
    ),
    font-weight: 400,
    line-height: 1.5),
  // ← 這裡加逗號
  "body-3": (property: font-size,
    class: body-3,
    values: (null: 0.75rem //12px
    ),
    font-weight: 400,
    line-height: 1.5),
  // ← 這裡加逗號
  "caption": (property: font-size,
    class: caption,
    values: (null: 0.75rem //12px
    ),
    font-weight: 400,
    line-height: 1.5)
);

@each $key, $item in $utilities {
  .#{map-get($item, class)} {
    font-size: map-get(map-get($item, values), null);
    font-weight: if(map-has-key($item, font-weight), map-get($item, font-weight), null);
    line-height: if(map-has-key($item, line-height), map-get($item, line-height), null);
  }
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-bold;
  line-height: 1.2; // 自訂數值
}

h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: 1.5; // 自訂數值
}


// 額外新增自訂圓角
$border-radius-m: .75rem;
$border-radius-l: 1.25rem;
$border-radius-rounded: 100rem;

// 擴充 class
.rounded-m {
  border-radius: $border-radius-m !important;
}

.rounded-l {
  border-radius: $border-radius-l !important;
}

.rounded-rd {
  border-radius: $border-radius-rounded !important;
}

/* 垂直漸層 */
.bg-gradient-vertical {
  background: linear-gradient(to bottom, #FFF3DE, #D6F1ED);
}

/* 水平漸層 */
.bg-gradient-horizontal {
  background: linear-gradient(to right, #FFF3DE, #D6F1ED);
}


// gutter 預設值
$grid-gutter-width: 12px;
$grid-gutter-y: 12px;

.row {
  --bs-gutter-y: #{$grid-gutter-y};
}


/*input外框效果*/
input.input-select:focus,
textarea.input-select:focus,
input.focused,
textarea.focused {
  border-color: #EF6400;
  box-shadow: 0 0 1.3px 1px #FFC56D;
  outline: none;
}

textarea.form-control:focus {
  border-color: #EF6400;
  box-shadow: 0 0 1.3px 1px #FFC56D;
  outline: none;
}



/*灰色虛線*/
.border-dashed-neutral {
  border: 1px dashed $neutral-300;
}
/*灰色線*/
.border-solid-neutral-100{
  border-bottom: 1px solid $neutral-100;
}

/*高度44px*/
.h-44 {
  height: 44px;
}
.h-38{
  height: 38px;
}

// 
.text-hidden {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
}
