.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-15 {
    width: 15px;
    height: 15px;
}

.icon-16 {
    width: 16px;
    height: 16px;
}

.icon-18 {
    width: 18px;
    height: 18px;
}


.icon-40 {
    width: 40px;
    height: 40px;
}

.icon-44 {
    width: 44px;
    height: 44px;
}

.icon-120 {
    width: 120px;
    height: 120px;
}


.icon-transparent {
    color: transparent;
}