.btn-sm-padding {
  padding-top: $btn-padding-y-sm;
  padding-bottom: $btn-padding-y-sm;
}

.btn-lg-padding {
  padding-top: $btn-padding-y-lg;
  padding-bottom: $btn-padding-y-lg;
}

.btn-primary {
  --bs-btn-color: #fff; // 預設字色
  --bs-btn-hover-color: #fff; // hover 字色
  --bs-btn-active-color: #fff; // active 字色
  --bs-btn-disabled-color: #fff; // disabled 字色

  --bs-btn-bg: #EF6400; // 預設背景色 
  --bs-btn-hover-bg: #EF6400; // hover 背景色 
  --bs-btn-active-bg: #CC4C02; // active 背景色 
  --bs-btn-disabled-bg: #EF640060; // disabled 背景色 

}

.btn-outline-primary {
  --bs-btn-color: #EF6400; // 預設字色（icon 也會跟著這個顏色）
  --bs-btn-hover-color: #EF6400; // hover 字色
  --bs-btn-active-color: #CC4C02; // active 字色
  --bs-btn-active-bg: #ffffff;
  --bs-btn-disabled-color: #ef640060; // disabled 字色
  --bs-btn-border-color: #ef6400; // 邊框顏色
  --bs-btn-hover-bg: #ffffff; // hover 背景色
  --bs-btn-hover-border-color: #EF6400;
  --bs-btn-disabled-border-color: #EF640060;
}

.btn-secondary {
  --bs-btn-color: #2A7775; // 預設字色
  --bs-btn-hover-color: #2A7775; // hover 字色
  --bs-btn-active-color: #25605F; // active 字色
  --bs-btn-disabled-color: #2A777560; // disabled 字色
  --bs-btn-bg: #fff;
  --bs-btn-border-color: transparent; //邊框設為透明
  box-shadow: var(--bs-btn-shadow);
  --bs-btn-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  --bs-btn-hover-bg: #fff; // hover 背景色
  --bs-btn-active-bg: #fff; // active 背景色
  --bs-btn-disabled-bg: #fff; // disabled 背景色
  --bs-btn-hover-border-color: transparent; //邊框設為透明
  --bs-btn-active-border-color: transparent; // 邊框設為透明
  --bs-btn-disabled-border-color: transparent; //邊框設為透明
}

/*.btn-outline-neutral-300*/
.btn-outline-neutral-300 {
  color: #888888;
  border-color: #b0b0b0;
}

.btn-outline-neutral-300:hover {
  color: #888888;
  background-color: #e7e7e7;
  border-color: #b0b0b0;
}

.btn-outline-neutral-300:active {
  color: #888888;
  background-color: #ffffff;
}
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: #888888;
  background-color: #e7e7e7;
  border-color: #b0b0b0;
}

.btn-outline-neutral-300:focus {
  color: #888888;
  background-color: #ffffff;
  border-color: #b0b0b0;
}

.btn-outline-neutral-300:disabled {
  color: #888888;
  border-color: #ffffff;
}
