.btn-sm-padding {
  padding-top: $btn-padding-y-sm;
  padding-bottom: $btn-padding-y-sm;
}

.btn-lg-padding {
  padding-top: $btn-padding-y-lg;
  padding-bottom: $btn-padding-y-lg;
}

.btn-primary {
  --bs-btn-color: #fff;                // 預設字色
  --bs-btn-hover-color: #fff;          // hover 字色
  --bs-btn-active-color: #fff;         // active 字色
  --bs-btn-disabled-color: #fff;       // disabled 字色
  --bs-btn-bg: #EF6400;          /* 預設背景色 */
  --bs-btn-hover-bg: #CC4C02;    /* hover 背景色 */
  --bs-btn-active-bg:#CC4C02;   /* active 背景色 */
  --bs-btn-disabled-bg: #EF640060; /* disabled 背景色 */
}

.btn-outline-primary {
  --bs-btn-color: #EF6400;         // 預設字色（icon 也會跟著這個顏色）
  --bs-btn-hover-color:#CC4C02;      // hover 字色
  --bs-btn-active-color:#CC4C02;     // active 字色
  --bs-btn-active-bg:#ffffff;
  --bs-btn-disabled-color:#EF640060;   // disabled 字色
  --bs-btn-border-color: #EF6400;  // 邊框顏色
  --bs-btn-hover-bg: #ffffff;      // hover 背景色
  --bs-btn-hover-border-color: #CC4C02;
}

