.categoy-icon {
    background-color: $primary-100;
    border-radius: 50%;
}

.category-icon-xl {
    padding: 26px;
    width: 100px;
    height: 100px;
}

.categoy-icon-m {
    padding: 14px;
    width: 60px;
    height: 60px;
}


.categoy-icon-s {
    padding: 10px;
    width: 44px;
    height: 44px;
}