.book-date{
    padding: 5.5px 29px;
    line-height: 1.5;
    font-weight: 400;
}
.book-mouth{
    padding: 5.5px 29px;
    line-height: 1.5;
}
.book-year{
    padding: 5.5px 29px;
    line-height: 1.5;
    font-weight: 400;
}
.book-mine{
    padding: 5.5px 22px;
    line-height: 1.5;
    font-weight: 400;
}
.book-i{
    padding: 13px;
}
.book-offcanvas{
    height: 77px;
    border-radius: 12px;
}