.bg-Deco-confetti{
background-image: url(/assets/images/adorn/Deco-confetti.png);
background-repeat: no-repeat;
background-size: 352px 576px;
background-position: 14px 52px;
margin-top: 50px;
padding-bottom: 189.5px;
}