
.lodding{ 
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99;
}
.splash-screen{
    margin-top: calc(50%);
    width: 174px;
    height: 174px;
    margin-bottom: 10px;
}
.logo{
    width: 113px;
    height: 29px;
}

.fixed-height-308{
    height: 308px;
}