
.user-nav{
  margin-top: 50px;
}

.lodding{ 
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99;
}

.splash-screen {
    margin-top: calc(50%);
    width: 174px;
    height: 174px;
    margin-bottom: 10px;
}

// 提醒
.logo {
    width: 113px;
    height: 29px;
}

.fixed-height {
    height: 258px;
}

.user-img {
    background-color: $secondary-200;
}

.diamondcollect {
    padding: 10px 12px;
}

.Speech-bubble {
    background-image: url(/assets/images/index-img/Speech-bubble.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 223px;
    height: 84px;

    .top-p {
        padding-top: 12px;
        padding-left: 16px;
    }

    .buttom-p {
        padding-bottom: 12px;
        padding-left: 16px;
    }
}

// 價格圓餅圖
.price{
    .accordion{
      --bs-accordion-border-color: none;
    }
    .accordion-body{
      margin: 0 !important;
    }
    .accordion-button::after{
    background-size: 2.25rem  !important;
    margin-top: -20px;
    background-image: url(/assets/images/index-img/Button.png) !important;
    width: 36px !important;
    height: 36px !important;
    }
    .accordion-button:not(.collapsed) {
      --bs-accordion-active-color: none;
    }
}

.monthly-expenses{
    padding-right: 39.5px;
}
.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 8 !important;
    background-color: #7FCDC6;
}
.container {.carousel-indicators {
  position: static !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}}



  // 移除點擊後（active）的背景色 
  .accordion-button:not(.collapsed) {
      background-color: transparent !important;
        box-shadow: none !important;
    }

//  移除 focus 後的外框 
    .accordion-button:focus {
        box-shadow: none;
    }   

.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon {
    background-image: none;
}

// 右下左陰影
.shadow-3sides {
    box-shadow: 1px 5px 6px -1px rgba(0, 0, 0, 0.15);
}

//  今日任務
.reward {
    padding-right: 1px;
}


