<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <title>支出類別-CASHU</title>
</head>

<body>
  <div class="container-fluid px-0 mobile-frame bg-white vh-100 ">
    <div class="fixed-height-308 bg-gradient-vertical">
      <!-- 載入畫面 -->
      <!-- <section id="preloader" class="bg-white"> -->
         <%- include('./layout/header'); -%>
        <!-- <div class="lodding d-flex flex-column justify-content-center align-items-center  ">
          <img class="splash-screen " src="/assets/images/gif/splash-screen.gif" alt="">
          <img class="logo" src="/assets/images/Logo/CASHU.png" alt="">
        </div>
      </section> -->
      <!-- 階段二 Lodding-->
       <section>
        <nav class="navbar py-0">
  <div class="container">
    <span class="diamondcollect rounded-pill bg-white neutral-900 border display-1">
      <img class="pe-2 " src="/assets/images/adorn/Reward.png" alt=""> 9999</span>
    <a class="navbar-brand" href="#">
      <img class="user-img rounded-circle border" src="/assets/images/user/2a6563ff68ae9c4e0a318c9dd97fa59388893096.png" alt="user" width="44" height="44" >
    </a>
  </div>
</nav>
          

         </div>

       </section>

      <!-- 階段三 進入首頁 -->


      </div>
      <%- include('./layout/footer'); -%>
      
      </div>

  <script type="module" src="../main.js"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
</body>

</html>