<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <title>支出類別-CASHU</title>
</head>

<body>
  <div class="container-fluid px-0 mobile-frame bg-white vh-100 ">
    <div class="fixed-height-308 bg-gradient-vertical">
      <!-- 載入畫面 -->
      <!-- <section id="preloader" class="bg-white"> -->
         <%- include('./layout/header'); -%>
        <!-- <div class="lodding d-flex flex-column justify-content-center align-items-center  ">
          <img class="splash-screen " src="/assets/images/gif/splash-screen.gif" alt="">
          <img class="logo" src="/assets/images/Logo/CASHU.png" alt="">
        </div>
      </section> -->
      <!-- 階段二 Lodding-->
       <!-- 上方nav -->



       

      <!-- 階段三 進入首頁 -->

      <section>
        <nav class="navbar py-0">
  <div class="container ">
    <span class="diamondcollect rounded-pill bg-white neutral-900 border subheader-3 ">
      <img class="pe-2 " src="/assets/images/adorn/Reward.png" alt=""> 9999</span>
    <a class="navbar-brand me-0 py-2" href="#">
      <img class="user-img rounded-circle border" src="/assets/images/user/2a6563ff68ae9c4e0a318c9dd97fa59388893096.png" alt="user" width="44" height="44" >
    </a>
  </div>
        </nav>
        <!-- 主要區塊 -->
        <main>
        <!-- 提醒 -->
         <section>
          <div class="container d-flex align-items-center py-6">
            <img src="/assets/images/index-img/Static.png" alt="Static">
              <div class="Speech-bubble">
              <p class="top-p mb-2"><span class="subheader-4 text-primary me-2">連續記帳已經</span>
                <img class="me-2" src="/assets/images/index-img/Strike.png" alt="">
                <span class="text-primary h5">365 天</span>
              </p>
              <p class="buttom-p body-3">再 15 天即可領取額外獎勵！加油！</p>
              </div>
         </section>
         <!-- 價格圓餅圖 -->
         <section>
          <div class="container">
          <div class="accordion border-radius-xl" id="accordionPanelsStayOpenExample">
            <!-- 頂 -->
            <div class="accordion-item shadow ">
            <h2 class="accordion-header p-5">
              <button class="accordion-button border-0 py-0" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <p>本月結餘</p>
                <h1>$ 45,500</h1>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body px-8">
                <strong>This is the first item’s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <!--  -->
          <div class="accordion-item">
            <h2 class="accordion-header">
               Accordion Item #3
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>This is the third item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
        </div>
        </section>



        </main>

         </div>

       </section>

      </div>
      <%- include('./layout/footer'); -%>
  </div>ˋ


  <script type="module" src="../main.js"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
</body>

</html>