<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <title>帳本</title>
</head>

<body>
    <div class="mobile-frame bg-white position-relative">
        <%- include('./layout/header'); -%>
            <div class="container-fluid" style="padding-bottom: 105px; padding-top: 50px">
                <main class="plan-save">
                    <div>
                         <div class="py-4 d-flex justify-content-between align-items-center">
             <i data-lucide="chevron-left" class="icon-24 icon-transparent"></i>
            <span class="h2 fw-bold">計畫</span>
            <i data-lucide="history" class="icon-24 text-neutral-600"></i>
          </div>
                        
                        <div class="d-flex justify-content-center align-items-center mt-5 mb-3">
                            <span class="badge rounded-pill bg-inactive-background py-2 px-2">
                                <span
                                    class="badge rounded-pill bg-inactive-background text-neutral-500 book-date fs-5 me-3">日</span>
                                <span class="badge rounded-pill bg-white text-neutral-950 book-mouth fs-5 me-3">月</span>
                                <span
                                    class="badge rounded-pill bg-inactive-background text-neutral-500 book-year fs-5 me-3">年</span>
                                <span
                                    class="badge rounded-pill bg-inactive-background text-neutral-500 book-mine fs-5">自訂</span>
                            </span>
                        </div>
                        <div class="py-4 mb-4 d-flex justify-content-between align-items-center">
                            <i data-lucide="chevron-left" class="icon-40 p-3 text-neutral-600 font-weight-normal"></i>
                            <span class="text-neutral-950 subheader-3">2025/07</span>
                            <i data-lucide="chevron-right" class="icon-40 p-3 text-neutral-600"></i>
                        </div>
                        <div class="addrecord">
                            <ul class="nav nav-underline border-bottom text-center d-flex justify-content-center" id="account-tab" role="tablist">
                                <li class="nav-item tab-two">
                                    <a class="nav-link active line-height-sm"  id="tab-saving" data-bs-toggle="tab" href="#pane-saving" role="tab"
           aria-controls="pane-saving" aria-selected="true">存錢計畫</a>
                                </li>
                                <li class="nav-item tab-two">
                                    <a class="nav-link line-height-sm" id="tab-budget" data-bs-toggle="tab" href="#pane-budget" role="tab"
           aria-controls="pane-budget" aria-selected="false">支出預算</a>
                                </li>
                            </ul>

                            <div class="tab-content py-6" id="nav-tabContent">
                                <div class="tab-pane fade show active"  id="pane-saving" role="tabpanel" aria-labelledby="tab-saving" tabindex="0">
                                 
                                <!--東京自由行-->
                                 <div class="card shadow border-0 mb-4">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-travel-34.svg"
                alt="travel-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">59 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">東京自由行</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$ 46,700</p>
                        <p class="body-2 text-neutral-400">$ 200,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/03/08 - 2025/09/30</p>
                  </div>
                </div>
  </div>  </div>
                                  <!--新沙發-->
                                   <div class="card shadow border-0 mb-4">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-home-34.svg"
                alt="home-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">60 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">新沙發</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$1,200</p>
                        <p class="body-2 text-neutral-400">$30,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 10%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/01/01 - 2025/10/01</p>
                  </div>
                </div>
  </div>  </div>
                                 <!--冬季歐洲旅遊-->
                                  <div class="card shadow border-0 mb-4">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-trip-34.svg"
                alt="trip-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">165 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">冬季歐洲旅遊</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$ 70,000</p>
                        <p class="body-2 text-neutral-400">$ 80,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 76%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/07/06 - 2025/12/31</p>
                  </div>
                </div>
  </div>  
</div>
                                 <!--結婚基金-->
                                 <a href="plan-save.html" style="display: block;">
                                  <div class="card shadow border-0">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-wedding-34.svg"
                alt="wedding-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">6209 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">結婚基金</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$ 46,700</p>
                        <p class="body-2 text-neutral-400">$ 200,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 10%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/07/06 - 2028/08/20</p>
                  </div>
                </div>
  </div>  
</div></a>

                                </div>
                                <div class="tab-pane fade " id="pane-budget" role="tabpanel" aria-labelledby="tab-budget"
                                    tabindex="0">
                                      <!--東京自由行-->
                                 <div class="card shadow border-0 mb-4">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-travel-34.svg"
                alt="travel-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">59 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">東京自由行</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$ 46,700</p>
                        <p class="body-2 text-neutral-400">$ 200,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/03/08 - 2025/09/30</p>
                  </div>
                </div>
  </div>  </div>
                                  <!--新沙發-->
                                   <div class="card shadow border-0 mb-4">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-home-34.svg"
                alt="home-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">60 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">新沙發</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$1,200</p>
                        <p class="body-2 text-neutral-400">$30,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 10%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/01/01 - 2025/10/01</p>
                  </div>
                </div>
  </div>  </div>
                                 <!--冬季歐洲旅遊-->
                                  <div class="card shadow border-0 mb-4">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-trip-34.svg"
                alt="trip-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">165 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">冬季歐洲旅遊</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$ 70,000</p>
                        <p class="body-2 text-neutral-400">$ 80,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 76%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/07/06 - 2025/12/31</p>
                  </div>
                </div>
  </div>  
</div>
                                 <!--結婚基金-->
                                 <a href="plan-save.html" style="display: block;">
                                  <div class="card shadow border-0">
   <div class="card-body p-6">
<div class="d-flex">
  <div class="me-8 text-center">
      <span
              class="icon-48 secondary-icon d-flex justify-content-center align-items-center mb-3"
            >
              <img
                src="/assets/images/Plan/icon-plan-wedding-34.svg"
                alt="wedding-icon"
              />
            </span>
            <p class="body-2">距結束</p>
            <p class="h5">6209 天</p>
          </div>
    <div class="flex-grow-1">
    <h4 class="card-title h4 mb-3 text-neutral-950">結婚基金</h4>
        <div class="d-flex justify-content-between mb-3">
                        <p class="h5 text-secondary-600">$ 46,700</p>
                        <p class="body-2 text-neutral-400">$ 200,000</p>
                    </div>

                         <div class="progress rounded-pill mb-3" style="height: 8px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 10%"
                        aria-valuenow=" 7"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="body-3 text-neutral-400">2025/07/06 - 2028/08/20</p>
                  </div>
                </div>
  </div>  
</div></a>
                                </div>
                              
                            </div>
                        </div>
                        <div class="position-fixed  end-0 bottom-0 w-100">
                          <div class=" fixed-btn ">
                        <a href="#"  class="d-block btn btn-white position-absolute  end-0 rounded-5 shadow-lg d-flex align-items-center justify-content-center " style="bottom: 115px; width:160px; height: 52px;">   <i data-lucide="plus" class="icon-24  " style="margin-right: 2.5px;"></i><span class="h4">新增計畫</span></a>
                        </div>
                        </div>
                </main>
     <nav>
      <div class="nav-bottom pt-3">
        <ul class="nav justify-content-center pb-4">
          <li class="nav-item item-home">
            <a class="nav-link p-0 text-center" href="index.html">
              <span class="Icon-home"></span
              ><span class="d-block body-2 home">首頁</span></a
            >
          </li>
          <li class="nav-item item-plan">
            <a
              class="nav-link p-0 text-center"
              href="plan-save-detail.html"
            >
              <span class="Icon-plan"></span
              ><span class="d-block body-2 plan">計畫</span></a
            >
          </li>
          <li class="nav-item item-State">
            <a class="nav-link p-0" href="log-add.html">
              <img
                class="d-block"
                src="/assets/images/index-img/State-Default.png"
                alt="State-Default"
            /></a>
          </li>
          <li class="nav-item item-ledger">
            <a class="nav-link p-0 text-center" href="book.html">
              <span class="ledger-icon"></span
              ><span class="d-block body-2 ledger">帳本</span></a
            >
          </li>
          <li class="nav-item item-assets">
            <a class="nav-link p-0 text-center" href="#">
              <span class="assets-icon"></span
              ><span class="d-block body-2 assets">資產</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
                <%- include('./layout/footer'); -%>
            </div>
    </div>
    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
        <script>
      document.addEventListener("DOMContentLoaded", () => {
        const currentPath = window.location.pathname; // 取得目前網址路徑
        const navLinks = document.querySelectorAll(".nav-link");

        navLinks.forEach((link) => {
          // 如果 a 的 href 包含目前的 path，就加 active
          if (currentPath.includes(link.getAttribute("href"))) {
            link.classList.add("active");
          }
        });
      });
    </script>
</body>