<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <title>帳本</title>
</head>

<body>
    <div class="mobile-frame bg-white position-relative">
        <%- include('./layout/header'); -%>
            <div class="container-fluid" style="padding-bottom: 99px; padding-top: 50px">
                <main class="plan-save">
                    <div>
                        <div class="py-4 d-flex justify-content-center align-items-center">

                            <h2 class="header-2 fw-bold line-height-sm">計畫</h2>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-5 mb-3">
                            <span class="badge rounded-pill bg-inactive-background py-2 px-2">
                                <span
                                    class="badge rounded-pill bg-inactive-background text-neutral-500 book-date fs-5 me-3">日</span>
                                <span class="badge rounded-pill bg-white text-neutral-950 book-mouth fs-5 me-3">月</span>
                                <span
                                    class="badge rounded-pill bg-inactive-background text-neutral-500 book-year fs-5 me-3">年</span>
                                <span
                                    class="badge rounded-pill bg-inactive-background text-neutral-500 book-mine fs-5">自訂</span>
                            </span>
                        </div>
                        <div class="py-4 mb-4 d-flex justify-content-between align-items-center">
                            <i data-lucide="chevron-left" class="icon-40 p-3 text-neutral-600 font-weight-normal"></i>
                            <span class="line-height-sm text-neutral-950 fs-4 font-weight-medium">2025/07</span>
                            <i data-lucide="chevron-right" class="icon-40 p-3 text-neutral-600"></i>
                        </div>
                        <div class="addrecord">
                            <ul class="nav nav-underline border-bottom text-center d-flex justify-content-center" id="account-tab" role="tablist">
                                <li class="nav-item tab-two">
                                    <a class="nav-link active line-height-sm"  id="tab-saving" data-bs-toggle="tab" href="#pane-saving" role="tab"
           aria-controls="pane-saving" aria-selected="true">存錢計畫</a>
                                </li>
                                <li class="nav-item tab-two">
                                    <a class="nav-link line-height-sm" id="tab-budget" data-bs-toggle="tab" href="#pane-budget" role="tab"
           aria-controls="pane-budget" aria-selected="false">支出預算</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active"  id="pane-saving" role="tabpanel" aria-labelledby="tab-saving" tabindex="0">
                                 <div class="card shadow border-0 mb-5">
  <div class="card-body  ">
    <h5 class="card-title h4 mb-3 text-neutral-950">打開 APP 看看</h5>
    <p class="card-text body-2 mb-4 text-neutral-900">每天開一次 APP，看看帳本有沒有變胖～理財習慣就從這一步開始！</p>
    <div class="d-flex justify-content-between ">
      <div class="d-flex justify-content-center align-items-center">
        <img  class="reward" src="/assets/images/adorn/Reward.png" alt="Reward">
        <p class="h4 mb-0 text-secondary"><span class="p-1">+</span><span>100</span></p>
      </div>
    <button class="btn btn-outline-primary rounded-pill btn-sm-padding subheader-4 " disabled>已完成</button>
  </div>
  </div>  
</div>
                                </div>
                                <div class="tab-pane fade" id="pane-budget" role="tabpanel" aria-labelledby="tab-budget"
                                    tabindex="0">
                                </div>
                              
                            </div>
                        </div>
                </main>
     <nav>
      <div class="nav-bottom pt-3">
        <ul class="nav justify-content-center pb-4">
          <li class="nav-item item-home">
            <a class="nav-link p-0 text-center" href="index.html">
              <span class="Icon-home"></span
              ><span class="d-block body-2 home">首頁</span></a
            >
          </li>
          <li class="nav-item item-plan">
            <a
              class="nav-link p-0 text-center"
              href="plan-save-detail.html"
            >
              <span class="Icon-plan"></span
              ><span class="d-block body-2 plan">計畫</span></a
            >
          </li>
          <li class="nav-item item-State">
            <a class="nav-link p-0" href="log-add.html">
              <img
                class="d-block"
                src="/assets/images/index-img/State-Default.png"
                alt="State-Default"
            /></a>
          </li>
          <li class="nav-item item-ledger">
            <a class="nav-link p-0 text-center" href="book.html">
              <span class="ledger-icon"></span
              ><span class="d-block body-2 ledger">帳本</span></a
            >
          </li>
          <li class="nav-item item-assets">
            <a class="nav-link p-0 text-center" href="#">
              <span class="assets-icon"></span
              ><span class="d-block body-2 assets">資產</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
                <%- include('./layout/footer'); -%>
            </div>
    </div>
    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
        <script>
      document.addEventListener("DOMContentLoaded", () => {
        const currentPath = window.location.pathname; // 取得目前網址路徑
        const navLinks = document.querySelectorAll(".nav-link");

        navLinks.forEach((link) => {
          // 如果 a 的 href 包含目前的 path，就加 active
          if (currentPath.includes(link.getAttribute("href"))) {
            link.classList.add("active");
          }
        });
      });
    </script>
</body>