<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <title>支出類別-CASHU</title>
  </head>

  <body>
    <div
      class="mobile-frame bg-white position-relative"
      style="min-height: 100vh"
    >
      <%- include('./layout/header'); -%>
      <div class="container-fluid" style="padding-bottom: 34px">
        <main>
          <div class="py-4 d-flex justify-content-between align-items-center">
            <a href="log-add.html"
              ><i data-lucide="chevron-left" class="icon-40 p-3"></i
            ></a>
            <span class="header-2 fw-bold line-height-sm">選擇帳戶</span>
            <i
              data-lucide="chevron-right"
              class="icon-40 p-3 icon-transparent"
            ></i>
          </div>
                     <p class="text-neutral-500 body-2" style="padding:5.5px 0;">
                            現金</p>
                            <hr class="mb-3 mt-0">
                        <ul>
                            <li class=" mb-2 add-result-item ">
                                <a href="#" class="d-block py-3 px-5 active">
                                    <div class="d-flex align-items-center">
                                        <sapn
                                            class="categoy-icon categoy-icon-m me-4 d-flex align-items-center justify-content-center">
                                            <img src="/assets/images/Category/icon-category-food-breakfast-32.svg"
                                                alt="銀行icon" class="text-neutral-950" />
                                        </sapn>
                                        <div>
                                            <p class="mb-3">台新銀行</p>
                                            <span>
                                                <span
                                                    class="badge rounded-pill bg-primary-200 py-2 px-3 me-3 text-neutral-950 body-2 fw-normal">現金</span><span
                                                    class="badge rounded-pill bg-primary-200 py-2 px-3 text-neutral-950 body-2 fw-normal">生活開銷</span></span>
                                        </div>
                                        <p class=" ms-auto line-height-sm fw-medium">$ 200</p>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        
          <a href="#" class="d-flex align-items-center py-3">
            <span
              class="border-dashed-neutral rounded-circle d-inline-flex justify-content-center align-items-center me-4"
              style="width: 44px; height: 44px"
            >
              <i data-lucide="plus" class="icon-16"></i> </span
            >新增類別
          </a>
                    </div>
        </main>
      </div>
      <%- include('./layout/footer'); -%>
    </div>
    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  <script>
        document.querySelectorAll('.add-result-item a').forEach(link => {
            link.addEventListener('click', e => {
                e.preventDefault(); // 防止跳頁
                // 移除其他 active
                document.querySelectorAll('.add-result-item a').forEach(i => i.classList.remove('active'));
                // 加上 active
                link.classList.add('active');
            });
        });
    </script>
  </body>
</html>
